accelerate==0.31.0
aiohttp==3.9.5
aiosignal==1.3.1
alignn==2024.4.20
annotated-types==0.7.0
ase==3.23.0
async-timeout==4.0.3
attrs==23.2.0
autopep8==2.3.1
bitsandbytes==0.43.1
black==24.4.2
certifi==2024.6.2
cffi
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
datasets==2.20.0
dgl==1.1.1
dill==0.3.8
docstring_parser==0.16
eval_type_backport==0.2.0
filelock
flake8==7.1.0
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.5.0
gmpy2
huggingface-hub==0.23.4
idna==3.7
importlib_resources==6.4.0
jarvis-tools>=2024.4.30
Jinja2
joblib==1.4.2
kiwisolver==1.4.5
lmdb==1.4.1
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.0
mccabe==0.7.0
mdurl==0.1.2
mpmath
multidict==4.7.6
multiprocess==0.70.16
mypy-extensions==1.0.0
networkx
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
peft==0.11.1
pillow==10.3.0
platformdirs==4.2.2
psutil==6.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycodestyle==2.12.0
pycparser
pydantic==2.7.4
pydantic-settings==2.3.3
pydantic_core==2.18.4
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==2.4.7
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML
regex==2024.5.15
requests==2.32.3
rich==13.7.1
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
sentencepiece==0.2.0
shtab==1.7.1
six==1.16.0
snowballstemmer==2.2.0
spglib==2.4.0
sympy
threadpoolctl==3.5.0
tokenizers==0.19.1
tomli==2.0.1
toolz==0.12.1
torch==2.2.2
torchdata==0.7.1
tqdm==4.66.4
transformers==4.41.2
triton==2.2.0
trl==0.8.6
typing_extensions
tyro==0.8.4
tzdata==2024.1
urllib3==2.2.2
xformers==0.0.25.post1
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.19.2

